@import './../../styles/colors.scss';

form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  label {
    font-size: 1.4rem;
    margin-bottom: 5px;
    font-weight: bold;
  }

  textarea {
    resize: none;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 90%;
    padding: 10px;
    padding-bottom: 0px;
    background: $melon;
    border: none;

    &:focus-visible {
      outline: $purple;
    }
  }
}

.controls {
  width: 100%;
  height: 10%;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  select {
    background: $mulberry;
    border-radius: 5px;
    border: none;
    padding-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .languages {
    width: 18%;
    height: 100%;
  }

  .voices {
    width: 60%;
    height: 100%;
  }

  .play-button {
    width: 18%;
    height: 100%;
    border-radius: 5px;
    background: $purple;
    color: white;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}